<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-eboutique</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cstry/frgt_pass.css') }}">
</head>
<body>
    <div class="container">
        <div class="left-section">
            <img src="{{ url_for('static', filename='imtry/logo2.png') }}" alt="logo" class="logo">
        </div>
        <div class="right-section">
            <h1>Reset Password</h1>
            <form action="{{ url_for('reset_password') }}" method="post">
                <input type="hidden" name="username" value="{{ request.args.get('username') }}">
                <input type="password" name="new_password" placeholder="Enter new password" required autofocus="">
                <input type="password" name="confirm_password" placeholder="Confirm new password" required ="">
                <div class="button-container">
                    <button type="button" onclick="history.back()" class="btn back-btn">Back</button>
                    <button class="btn" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>